
<div>
    <p>Hii <%= user.name %> ,</p>
    <p><strong>DO NOT SHARE THIS LINK WITH ANYONE</strong></p>
    <br>
    <p>Use this link to reset your password of your Link-up Account. <a href="http://localhost:8000/users/reset-password/<%= user.accessToken %>">Click here!!!</a></p>
    <br>
    <p>Thanks!</p>
</div>