<div>
    <p>Dear <strong> <%= user.name %></strong>,</p>
    <p>We are thrilled to have you join our vibrant community on our Social Media App. Your new account has been successfully created, and we can't wait for you to explore all the exciting features and connect with friends and family.</p>
    <br>
    <p>Once you log in with your credentials, you'll have access to a world of possibilities, including:</p>
    
    <strong>
        <p>1. Creating a captivating profile that reflects your personality.</p>
        <p>2. Discovering and connecting with friends and loved ones.</p>
        <p>3. Sharing moments and experiences through photos, videos, and status updates.</p>
        <p>4. Engaging in discussions and exchanging ideas with like-minded individuals.</p>
        <p>5. Exploring trending topics and staying up-to-date with the latest news.</p> 
    </strong>
    
    <p>We value your privacy and security. Rest assured that your personal information is protected, and we strictly adhere to industry standards to ensure a safe environment for all our users.</p>

    <br>
    <p>Best regards,</p>
    <p><strong>Team Link-up</strong></p>
</div> 